.page-home {
  background-image: url('../images/legacy_homes_logo.png');
  background-repeat: no-repeat;
  background-size: 115%;
  //background-size: 50px 50px;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    //background-size: 60%;
    background-size: 50%;
    background-position: 100% 100px;
  }
}

@media (max-width: 640px) {
  .page-home {
    background-image: none;
  }
}